# Rust
**/target
**/*.rlib
**/*.rmeta

# Cargo
**/Cargo.lock

# Env
.env
.env.*
!.env.example
infra/env/**/app.env

# OS
.DS_Store

# Logs
*.log

# JS
node_modules/
apps/*/node_modules/
apps/web/.astro/
apps/web/dist/

# Backups
backups/

# Editor
.vscode/
.idea/

# Docker
.docker/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
