@import 'tailwindcss';

:root {
  --background: #111111;
  --foreground: #e7eafd;
  --muted: #676a7e;
  --muted-foreground: #9d9faf;
  --outline: #262626;
  --card: #000000;
  --accent-blue: #5a69f2;
  --accent-yellow: #f6d357;
  --accent-green: #35ca78;
  --accent-red: #f2555a;
  --accent-purple: #8b5af2;
  --accent-muted-purple: #8e7ab8;
  --accent-aqua: #75fbfd;

  --font-kyiv-type: var(--font-kyiv-type);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-outline: var(--outline);
  --color-card: var(--card);
  --color-accent-blue: var(--accent-blue);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-green: var(--accent-green);
  --color-accent-red: var(--accent-red);
  --color-accent-purple: var(--accent-purple);
  --color-accent-muted-purple: var(--accent-muted-purple);
  --color-accent-aqua: var(--accent-aqua);

  --font-kyiv-type: var(--font-kyiv-type);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kyiv-type), Arial, Helvetica, sans-serif;
}
