UAMAPPERS_ENV=prod
RUST_LOG=info

POSTGRES_USER=uamappers_prod
POSTGRES_PASSWORD=
POSTGRES_DB=uamappers_prod
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

RUN_DISCOVERY=1
ENRICH_USERS=1
ENRICH_BEATMAPSETS=1
ENRICH_BEATMAPSETS_PAGE_SIZE=500
SCAN_PAGE_DELAY_MS=500
SCAN_MAX_PAGES=10
SCAN_BATCH_SIZE=50
SCAN_FORCE_RESCAN=0
SCAN_RESUME_FROM_CHECKPOINT=0
SCAN_OLDEST_FIRST=0

PROD_WEB_HOST=web.example.com
PROD_API_HOST=api.example.com

UAMAPPERS_API_IMAGE=ghcr.io/.../uamappers-api:latest
UAMAPPERS_WEB_IMAGE=ghcr.io/.../uamappers-web:latest
UAMAPPERS_WORKER_IMAGE=ghcr.io/.../uamappers-worker:latest
